<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.8.2" targetFramework="net45" />
  <package id="knockoutjs" version="2.2.0" targetFramework="net45" />
  <package id="Moment.js" version="1.7.2" targetFramework="net45" />
  <package id="Prettify" version="1.1.6.2011" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="2.2.1" targetFramework="net45" />
  <package id="underscore.js" version="1.4.0" targetFramework="net45" />
</packages>